body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*  Navigation Bar  */

.top-nav{
    width: 100%;
    background-color: #000000; 
    overflow: auto;
}

.logo{
    padding: 20px;
    color: #999;
	letter-spacing: 8px;
	text-transform: uppercase;
	font-size: 15px;
}

.top-nav a{
    float: left;
    text-decoration: none;
    color: #9D9D9D;
    text-align: center;
    padding: 20px;
}

.top-nav a:hover{
    color: #ffffff;
}

@media screen and (max-width:500px){
    .top-nav a{
        float: none;
        display: block;
    }
}

/*  Image Positioning   */

.img{
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img1{
    background-image: url("Assets/img2.jpg");
}

.img2{
    background-image: url("Assets/img1.jpg");
}

.imgtext{
    position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;
	color: #000000;
	letter-spacing: 8px;
	text-transform: uppercase;
	font-size: 25px;
}

/*  Text Formatting   */
h1{
    letter-spacing: 2px;
    font-size: 40px;
}
.section{
	text-align: center;
	padding: 40px 50px;
}

.section-light{
    background-color: #f4f4f4;
	color: #252525;
}

.section-dark{
    background-color: #282e34; 
	color: #ddd;
}

/*  Card Holders    */
.card-holder{
    margin: 3% 9%;
    overflow: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    float: left;
    margin: 2%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

/*  Footer Bottom   */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .container{
        font-size: 5px;
    }
    .card{
        display: block;
        float: none;
        width: 90%;
    }
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
