<nav class = "top-nav">    
    
    <a  class="logo">BeatSite</a>
   
    <a href = ""><i class="fa fa-fw fa-home"></i> Home</a>
    <a href = ""><i class="fa fa-dedent"></i> Browse</a>
    <a href = ""><i class="fa fa-fw fa-music"></i> My Playlist</a>
    <a href = ""><i class="fa fa-fw fa-user"></i> About Us</a>

    <div class = "right-link">
        <a href = "" style="float:right;"><i class="fa fa-fw fa-user"></i> Login</a>
        <a href = "" style="float:right;"><i class="fa fa-fw fa-user"></i> SignUp</a>
    </div>
        
</nav>
